@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Philosopher:wght@400;700&family=Salsa&family=Sevillana&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* hader styles */
.header{
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 50px;
    width: 1320px;
    height: 600px;
    background: url(../resources/BannerImage.png);
    position: absolute;
}
.banner-gradient{
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.banner-text{
    color: #FFF;
    text-align: center;
    font-family: Comfortaa;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 60px;
    padding-top: 130px;
    position: absolute;
    padding-left: 520px;

}
.banner-title{
    color: #FFF;
    font-family: Sevillana;
    font-size: 82px;
    font-weight: 900;
    line-height: 85px;
    width: 632px;
    text-align: center;
    padding-left: 330px;
    position: absolute;
    padding-top: 220px;
}
.empty{
    width: 100%;
    height: 50px;
}

/* off-section */
.off-section{
    padding-top: 800px;
}
.off-details{
    text-align: center;
}
.off-img{
    text-align: center;
}
.off-title{
    color: rgb(255, 60, 0);
    font-family: sans-serif;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 15px;
}
.off-des{
    color: rgba(255, 38, 0, 0.911);
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 20px;
}
.off-text{
    color: #070211;
    font-family: Comfortaa;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 40px;
}
.off-img{
    padding-bottom: 150px;
}

/* party section */
.party-details{
    text-align: center;
}
.party-gradient{
    z-index: 1;
    width: 1320px;
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 20px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.party-title{
    position: absolute;
    text-align: left;
    color: #FFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    padding-right: 400px;
    padding-top: 100px;
}
.party-des{
    position: absolute;
    color: rgba(255, 255, 255, 0.80);
    font-family: Comfortaa;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 300px;
    z-index: 3;
    text-align: left;
    padding-right: 350px;
}
.party-btn{
    position: absolute;
    z-index: 4;
    left: 0;
    right: 895px;
    top: 2150px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    background-color: rgb(241, 140, 25);
    border: none;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}
.party-btn:hover{
    background-color: rgb(189, 106, 11);
}
.party-btn-con{
    padding-left: 100px;
}
.year-img{
    position: absolute;
    left: 0;
    right: -800px;
    top: 1800px;
    margin: 0 auto;
    z-index: 5;
}
.emptyy{
    width: 100%;
    height: 100px;
}

/* Red Gradient styles */
.red-gradient{
    text-align: center;
}
.back-red-gradient{
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 20px;
    width: 1320px;
    height: 482px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
.red-content-text1{
    position: absolute;
    font-family: Comfortaa;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 90px;
    z-index: 2;
}
.red-content-text2{
    position: absolute;
    font-family: Comfortaa;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 150px;
    z-index: 2;
}
.red-content-text3{
    position: absolute;
    font-family: Comfortaa;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 210px;
    z-index: 3;
}
.red{
    color: red;
}
.red-content-btn{
    color: #FFF;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 700;
    width: 165px;
    height: 55px;
    border-radius: 10px;
    background: #F00;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.red-content-btn:hover{
    background: rgb(148, 5, 5);
}
.red-button-con{
    position: absolute;
    padding-top: 330px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 4;
}
.emptyyy{
    width: 100%;
    height: 100px;
    padding-bottom: 460px;
}

/* round pic styles */
.dot-con{
    border: 15px solid #F00;
    padding: 190px 190px;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 2978px;
}
.round-left-header{
    width: 300px;
    position: absolute;
    left: 0;
    right: 1000px;
    margin: 0 auto;
    top: 3030px;
}
.round-left-header h3{
    color: #F00;
    font-family: Comfortaa;
    font-size: 24px;
    font-weight: 500;
}
.round-left-title{
    width: 500px;
    height: 0;
    position: absolute;
    left: 0;
    right: 809px;
    margin: 0 auto;
    top: 3075px;
}
.round-left-title h2{
    color: #070211;
    font-family: Comfortaa;
    font-size: 48px;
    font-weight: 900;
}
.round-left-des{
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    right: 1300px;
    margin: 0 auto;
    top: 3150px;
}
.round-left-des p{
    width: 400px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Comfortaa;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
}
.round-img img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 3000px;
}
.round-right-title{
    width: 0;
    height: 0;
    position: absolute;
    left: 500px;
    right: 0;
    margin: 0 auto;
    top: 3010px;
}
.round-right-title h2{
    color: #F00;
    font-family: Comfortaa;
    font-size: 48px;
    font-weight: 700;
}
.round-right-des{
    width: 400px;
    height: 0;
    position: absolute;
    left: 910px;
    right: 0;
    margin: 0 auto;
    top: 3070px;
}
.round-right-des p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Comfortaa;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    width: 356px;
}
.round-right-icon{
    width: 0;
    height: 350px;
    position: absolute;
    left: 490px;
    right: 0;
    margin: 0 auto;
    top: 3200px;
}

/* holyday styles */
.holiday-details{
    text-align: center;
}
.holiday-header{
    color: #070211;
    font-family: Salsa;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}
.holiday-title{
    color: #070211;
    font-family: Comfortaa;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 20px;
}
.holiday-des{
    color: rgba(7, 2, 17, 0.60);
    font-family: Comfortaa;
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
}
.holiday-pics div{
    text-align: center;
}
.girl-img{
    position: absolute;
    left: 891px;
    right: 0;
    margin: 0 auto;
    top: 3867.2px;
    z-index: 3;
}
.discount-img{
    position: absolute;
    left: 470px;
    right: 0;
    margin: 0 auto;
    top: 3934px;
    z-index: 4;
}
.gift-img{
    position: absolute;
    left: 0;
    right: 400px;
    margin: 0 auto;
    top: 3840px;
    z-index: 2;
}
.rectangle-img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 4300px;
    z-index: 1;
}
.emptyyyy{
    width: 100%;
    height: 400px;
    padding-bottom: 460px;
}

/* protfolio section */
.portfolio-header h3{
    color: #F00;
    font-family: Comfortaa;
    font-size: 24px;
    font-weight: 500;
}
.portfolio-header{
    width: 300px;
    height: 0;
    left: 0;
    right: 1020px;
    margin: 0 auto;
    position: absolute;
}
.portfolio-title h2{
    color: #070211;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: 900;
}
.portfolio-title{
    width: 700px;
    height: 0;
    left: 0;
    right: 620px;
    top: 4690px;
    margin: 0 auto;
    position: absolute;
}
.portfolio-des p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.portfolio-des{
    width: 700px;
    height: 0;
    left: 0;
    right: 620px;
    top: 4760px;
    margin: 0 auto;
    position: absolute;
}
.portfolio-img-O{
    width: 1305px;
    height: 0;
    left: 0;
    right: 0;
    padding-top: 230px;
    margin: 0 auto;

}
.image{
    float: left;
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.image:hover{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 0.5ss ;    
}
.portfolio-img-T{
    width: 1305px;
    height: 0;
    left: 0;
    right: 0;
    padding-top: 100px;
    margin: 0 auto;
}
.imagee{
    float: left;
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.imagee:hover{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 0.5ss ;  
}
.emptyyyyy{
    width: 100%;
    height: 400px;
    padding-bottom: 570px;
}
/* email section */
.email-container{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.email-img{
    padding-top: 50px;
}
.email-title{
    padding-top: 30px;
}
.email-title h2{
    color: #070211;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 900;
}
.email-des{
    padding-top: 15px;
}
.email-des p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 350px;
}
.email-input input{
    width: 448px;
    height: 62px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: 0;
    right: 250px;
    top: 440px;
    margin: 0 auto;
}
.email-btn input{
    width: 210px;
    height: 66px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 410px;
    right: 0;
    top: 440px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.email-btn input:hover{
    background: rgb(141, 7, 7);
}

/* footer */
.footer{
    width: 1349px;
    height: 609px;
    background: #070211;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 800px;
}
.foot-add{
    width: 400px;
    height: 0;
    position: absolute;
    left: 0;
    right: 800px;
    top: 6840px;
    margin: 0 auto;
}
.foot-add h5{
    color: #FFF;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.foot-addd{
    width: 400px;
    height: 0;
    position: absolute;
    left: 0;
    right: 800px;
    top: 6890px;
    margin: 0 auto;
}
.foot-addd h5{
    color: #FFF;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.foot-num{
    width: 300px;
    height: 0;
    position: absolute;
    left: 1000px;
    right: 0;
    top: 6840px;
    margin: 0 auto;
}
.foot-num h5{
    color: #FFF;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.foot-web{
    width: 300px;
    height: 0;
    position: absolute;
    left: 1000px;
    right: 0;
    top: 6890px;
    margin: 0 auto;
}
.foot-web h5{
    color: #FFF;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.foot-hr1{
    width: 0px;
    height: 0;
    position: absolute;
    left: 0;
    right: 1250px;
    top: 6960px;
    margin: 0 auto;
}
.foot-hr1 hr{
    width: 1240px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}
.foot-img1{
    width: 0px;
    height: 0;
    position: absolute;
    left: 0;
    right: 300px;
    top: 6990px;
    margin: 0 auto;
}
.foot-img2{
    width: 0px;
    height: 0;
    position: absolute;
    left: 0;
    right: 150px;
    top: 6990px;
    margin: 0 auto;
}
.foot-img3{
    width: 0px;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 6990px;
    margin: 0 auto;
}
.foot-img4{
    width: 0px;
    height: 0;
    position: absolute;
    left: 150px;
    right: 0;
    top: 6990px;
    margin: 0 auto;
}
.foot-hr2{
    width: 0px;
    height: 0;
    position: absolute;
    left: 0;
    right: 1250px;
    top: 7150px;
    margin: 0 auto;
}
.foot-hr2 hr{
    width: 1240px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}
.foot-rights{
    width: 400px;
    height: 0;
    position: absolute;
    left: 0;
    right: 800px;
    top: 7170px;
    margin: 0 auto;
}
.foot-rights h5{
    color: #FFF;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.foot-btn{
    width: 400px;
    height: 0;
    position: absolute;
    left: 1030px;
    right: 0;
    top: 7165px;
    margin: 0 auto;
}
.foot-btn button{
    width: 120px;
    height: 50px;
    background: rgb(51, 5, 5);
    color: #FFF;
    border: none;
    border-radius: 10px;
    transition: 0.3s;cursor: pointer;
}
.foot-btn button:hover{
    background: rgb(0, 0, 0);
}