@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Philosopher:wght@400;700&family=Salsa&family=Sevillana&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* hader styles */
.header{
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 50px;
    width: 1320px;
    height: 600px;
    background: url(../resources/BannerImage.png);
    position: absolute;
}
.banner-gradient{
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.banner-text{
    color: #FFF;
    text-align: center;
    font-family: Comfortaa;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 60px;
    padding-top: 130px;
    position: absolute;
    padding-left: 520px;

}
.banner-title{
    color: #FFF;
    font-family: Sevillana;
    font-size: 82px;
    font-weight: 900;
    line-height: 85px;
    width: 632px;
    text-align: center;
    padding-left: 330px;
    position: absolute;
    padding-top: 220px;
}
.empty{
    width: 100%;
    height: 50px;
}

/* off-section */
.off-section{
    padding-top: 800px;
}
.off-details{
    text-align: center;
}
.off-img{
    text-align: center;
}
.off-title{
    color: rgb(255, 60, 0);
    font-family: sans-serif;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 15px;
}
.off-des{
    color: rgba(255, 38, 0, 0.911);
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 20px;
}
.off-text{
    color: #070211;
    font-family: Comfortaa;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 40px;
}
.off-img{
    padding-bottom: 150px;
}

/* party section */
.party-details{
    text-align: center;
}
.party-gradient{
    z-index: 1;
    width: 1320px;
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 20px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.party-title{
    position: absolute;
    text-align: left;
    color: #FFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    padding-right: 400px;
    padding-top: 100px;
}
.party-des{
    position: absolute;
    color: rgba(255, 255, 255, 0.80);
    font-family: Comfortaa;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 300px;
    z-index: 3;
    text-align: left;
    padding-right: 350px;
}
.party-btn{
    position: absolute;
    z-index: 4;
    left: 0;
    right: 895px;
    top: 2150px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    background-color: rgb(241, 140, 25);
    border: none;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}
.party-btn:hover{
    background-color: rgb(189, 106, 11);
}
.party-btn-con{
    padding-left: 100px;
}
.year-img{
    position: absolute;
    left: 0;
    right: -800px;
    top: 1800px;
    margin: 0 auto;
    z-index: 5;
}
.emptyy{
    width: 100%;
    height: 100px;
}

/* Red Gradient styles */
.red-gradient{
    text-align: center;
}
.back-red-gradient{
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 20px;
    width: 1320px;
    height: 482px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
.red-content-text1{
    position: absolute;
    font-family: Comfortaa;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 90px;
    z-index: 2;
}
.red-content-text2{
    position: absolute;
    font-family: Comfortaa;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 150px;
    z-index: 2;
}
.red-content-text3{
    position: absolute;
    font-family: Comfortaa;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 210px;
    z-index: 3;
}
.red{
    color: red;
}
.red-content-btn{
    color: #FFF;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 700;
    width: 165px;
    height: 55px;
    border-radius: 10px;
    background: #F00;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.red-content-btn:hover{
    background: rgb(148, 5, 5);
}
.red-button-con{
    position: absolute;
    padding-top: 330px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 4;
}
.emptyyy{
    width: 100%;
    height: 100px;
    padding-bottom: 460px;
}

/* round pic styles */
.round-pic{
}
.dot-con{
    border: 15px solid #F00;
    padding: 190px 190px;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 2978px;
}
.round-left-header{
    width: 300px;
    position: absolute;
    left: 0;
    right: 1000px;
    margin: 0 auto;
    top: 3030px;
}
.round-left-header h3{
    color: #F00;
    font-family: Comfortaa;
    font-size: 24px;
    font-weight: 500;
}
.round-left-title{
    width: 500px;
    height: 0;
    position: absolute;
    left: 0;
    right: 809px;
    margin: 0 auto;
    top: 3075px;
}
.round-left-title h2{
    color: #070211;
    font-family: Comfortaa;
    font-size: 48px;
    font-weight: 900;
}
.round-left-des{
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    right: 1300px;
    margin: 0 auto;
    top: 3150px;
}
.round-left-des p{
    width: 400px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Comfortaa;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
}
.round-img img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 3000px;
}
.round-right-title{
    width: 0;
    height: 0;
    position: absolute;
    left: 500px;
    right: 0;
    margin: 0 auto;
    top: 3010px;
}
.round-right-title h2{
    color: #F00;
    font-family: Comfortaa;
    font-size: 48px;
    font-weight: 700;
}
.round-right-des{
    width: 400px;
    height: ;
    position: absolute;
    left: 910px;
    right: 0;
    margin: 0 auto;
    top: 3070px;
}
.round-right-des p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Comfortaa;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    width: 356px;
}
.round-right-icon{
    width: 0;
    height: 350px;
    position: absolute;
    left: 490px;
    right: 0;
    margin: 0 auto;
    top: 3200px;
}